[colors]
# Completion menus.
Token.Menu.Completions.Completion.Current = 'bg:#{{base07-hex}} #{{base06-hex}}'
Token.Menu.Completions.Completion = 'bg:#{{base07-hex}} #{{base05-hex}}'
Token.Menu.Completions.MultiColumnMeta = 'bg:#{{base07-hex}} #{{base0C-hex}}'
Token.Menu.Completions.ProgressButton = 'bg:#{{base07-hex}}'
Token.Menu.Completions.ProgressBar = 'bg:#{{base07-hex}}'

# Selected text.
Token.SelectedText = 'bg:#{{base02-hex}} #{{base05-hex}}'

# Search matches. (reverse-i-search)
Token.SearchMatch = 'bg:#{{base0A-hex}} #{{base05-hex}}'
Token.SearchMatch.Current = 'bg:#{{base0A-hex}} #{{base05-hex}}'

# The bottom toolbar.
Token.Toolbar = 'bg:#{{base01-hex}} #{{base04-hex}}'
Token.Toolbar.Off = 'bg:#{{base01-hex}} #{{base03-hex}}'
Token.Toolbar.On = 'bg:#{{base01-hex}} #{{base04-hex}}'

# Search/arg/system toolbars.
Token.Toolbar.Search = 'noinherit bold'
Token.Toolbar.Search.Text = 'nobold'
Token.Toolbar.System = 'noinherit bold'
Token.Toolbar.Arg = 'noinherit bold'
Token.Toolbar.Arg.Text = 'nobold'

